<h1>Hello, Mr/Mrs <%= "#{@user.fname} #{@user.lname}" %></h1>
<p>Congratulations You have successfully maked the booking of the futsal. Please visit the site to make the payment. <%= ENV['FUTSAL_URL']+"/booking" %></p>