<%= form_tag create_payment_method_path do %>
<article>
  <% if flash[:error].present? %>
  <div id="error_explanation">
    <p><%= flash[:error] %></p>
  </div>
  <% end %>
  <label class="amount">

  </label>
</article>
<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      Stripe.setPublishableKey('PUBLISHABLE_KEY');
      data-key="<%= ENV['stripe_publishable_key'] %>"
      data-description="A month's subscription"
      data-amount="50000"
      data-locale="auto">
</script>

<% end %>