    <h1>Hello, Mr/Mrs <%= "#{@user.fname} #{@user.lname}" %></h1>
    <p>Congratulations Your Request to Register the futsal have been approved by the admin.Now you can find your futsal and is ready to be booked.</p>
